<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <title>Clash Royale Stats Updater</title>
</head>
<body>
    <a href="http://iteration.pythonanywhere.com/update/summary">Update the summary</a><br/>
    <a href="http://iteration.pythonanywhere.com/update/war-logs">Update War logs</a><br/>
    <a href="http://iteration.pythonanywhere.com/update/boat-attacks">Update Boat attacks</a><br/>
    <a href="http://iteration.pythonanywhere.com/update/statistics">Update Statistics</a><br/>
    <a href="http://iteration.pythonanywhere.com/update/all">Update Everything</a><br/>
</body>
</html>